*{
    margin: 0;
    padding: 0;
}


.header{
    background-color: lightcoral;
    height:60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.search{
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 0 3px;
}
.icon-box{
    border-radius: 20px;
    background-color: white;
    padding: 3px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}